:root {
  /* CSS HEX */
  --imperial-red: #e63946ff;
  --honeydew: #f1faeeff;
  --powder-blue: #a8dadcff;
  --celadon-blue: #457b9dff;
  --prussian-blue: #1d3557ff;

  /* CSS HSL */
  --imperial-red: hsla(355, 78%, 56%, 1);
  --honeydew: hsla(105, 55%, 96%, 1);
  --powder-blue: hsla(182, 43%, 76%, 1);
  --celadon-blue: hsla(203, 39%, 44%, 1);
  --prussian-blue: hsla(215, 50%, 23%, 1);
}
